.Heading_1 {font-family:'Lato';font-weight:300;font-style:normal;font-size:48px;text-decoration:none;color:#000000;letter-spacing:0em;}
.Heading_2 {font-size:32px;}
.Normal {font-family:'Calibri Regular';font-weight:normal;font-style:normal;font-size:14.67px;text-decoration:none;color:#000000;letter-spacing:0em;}
.Heading_3 {font-size:24px;}
