@import url(https://fonts.googleapis.com/css?family=Roboto:900italic,900&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Arimo:regular,700&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Lato:300italic&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Tinos:regular,700&subset=latin);
@font-face {font-family: 'Calibri Regular';font-weight:normal;font-style:normal;src: url("XaraWDGeneratedHTMLfont1.woff") format("woff"), url("XaraWDEmbeddedHTMLfont2.eot?") format("embedded-opentype"), local('Calibri Regular'), local("Calibri");}
@font-face {font-family: 'Calibri Bold';font-weight:700;font-style:normal;src: url("XaraWDGeneratedHTMLfont3.woff") format("woff"), url("XaraWDEmbeddedHTMLfont4.eot?") format("embedded-opentype"), local('Calibri Bold'), local("Calibri");}
@font-face {font-family: 'Verdana Regular Italic';font-weight:normal;font-style:italic;src: url("XaraWDGeneratedHTMLfont5.woff") format("woff"), url("XaraWDEmbeddedHTMLfont6.eot?") format("embedded-opentype"), local('Verdana Regular Italic'), local("Verdana");}
@font-face {font-family: 'Baskerville Old Face Regular';font-weight:normal;font-style:normal;src: url("XaraWDGeneratedHTMLfont7.woff") format("woff"), url("XaraWDEmbeddedHTMLfont8.eot?") format("embedded-opentype"), local('Baskerville Old Face Regular'), local("BaskervilleOldFace");}
