@import url(https://fonts.googleapis.com/css?family=Roboto:900italic,900&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Arimo:regular,700&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Lato:300italic&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Tinos:regular,700&subset=latin);
@font-face {font-family: 'Calibri Regular';src: url("XaraWDEmbeddedHTMLfont2.eot?") format("embedded-opentype"),  url("XaraWDGeneratedHTMLfont1.woff") format("woff"), local('Calibri Regular'), local("Calibri");}
@font-face {font-family: 'Calibri Bold';src: url("XaraWDEmbeddedHTMLfont4.eot?") format("embedded-opentype"),  url("XaraWDGeneratedHTMLfont3.woff") format("woff"), local('Calibri Bold'), local("Calibri");}
@font-face {font-family: 'Verdana Regular Italic';src: url("XaraWDEmbeddedHTMLfont6.eot?") format("embedded-opentype"),  url("XaraWDGeneratedHTMLfont5.woff") format("woff"), local('Verdana Regular Italic'), local("Verdana");}
@font-face {font-family: 'Baskerville Old Face Regular';src: url("XaraWDEmbeddedHTMLfont8.eot?") format("embedded-opentype"),  url("XaraWDGeneratedHTMLfont7.woff") format("woff"), local('Baskerville Old Face Regular'), local("BaskervilleOldFace");}
