/* Site settings */
body {background-color:#ffffff;margin:0px;font-family:Arial,sans-serif;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0em;-webkit-print-color-adjust:exact;}
a {text-decoration:none;}
a:link {color:#5BC8D3; cursor:pointer;}
a:visited {color:#5BC8D3;}
a:hover {color:#343434;}
a * {color:#5BC8D3;text-decoration:none;}
sup {font-size:0.5em; vertical-align: 0.66em;}
sub {font-size:0.5em; vertical-align: -0.1em;}
.xr_tl {position: absolute; white-space: pre; unicode-bidi:bidi-override;}
.xr_tr {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:right;}
.xr_tc {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:center;}
.xr_tj {position: absolute; unicode-bidi:bidi-override; text-align:justify;}
.xr_tb {position: absolute; unicode-bidi:bidi-override;}
.xr_e1 {display: inline-block; border:none; white-space:normal;}
.xr_e2 {position: absolute; display: block; border:none;}
.xr_ap {position: absolute; border:none;}
.xr_ar {position: absolute; display:block;}
.xr_ae {position: relative; border:none;}
.xr_strb {z-index: 1;}
.xr_xrc, .xr_xri_, .xr_sxri, .xr_xpos {z-index: 2;}
.xr_ro, .xr_rd, .xr_rs {z-index: 3;}
.xr_tu {unicode-bidi:bidi-override;margin-top:0px;margin-bottom:0px;}
.xr_kern {text-rendering: optimizeLegibility; font-feature-settings: "kern" 1;}

.xr_tt0 {transition: all 0s;}
.xr_tt1 {transition: all 0.1s; transition-timing-function: ease-in;}
.xr_tt2 {transition: all 0.25s; transition-timing-function: ease-in;}
.xr_tt3 {transition: all 0.5s; transition-timing-function: ease-in;}
.xr_tt4 {transition: all 1s; transition-timing-function: ease-in;}
.xr_tt5 {transition: all 2s; transition-timing-function: ease-in;}
a:hover .xr_ro, a:active .xr_rd, .xr_nb0:hover .xr_ro{visibility:visible;opacity: 1;transform: none;}

a:active .xr_ro {opacity:0;}
.xr_ro, .xr_rd {visibility:hidden;opacity:0;}
.xr_ro0, .xr_rd0, a:active .xr_ro0 {opacity:0;}
.xr_ro1, .xr_rd1, a:active .xr_ro1 {transform:translate3d(0,-20%,0);}
.xr_ro2, .xr_rd2, a:active .xr_ro2 {transform:translate3d(20%,0,0);}
.xr_ro3, .xr_rd3, a:active .xr_ro3 {transform-origin:top; transform:scale3d(1,0.3,1);}
.xr_ro4, .xr_rd4, a:active .xr_ro4 {transform-origin:left; transform:scale3d(0.3,1,1);}
.xr_ro5, .xr_rd5, a:active .xr_ro5 {transform:rotate3d(1,0,0,180deg); -ms-transform: rotateX(180deg);}
.xr_ro6, .xr_rd6, a:active .xr_ro6 {transform:rotate3d(0,1,0,180deg); -ms-transform: rotateY(180deg);}
.xr_ro7, .xr_rd7, a:active .xr_ro7 {transform:rotate3d(0,0,1,180deg);}
.xr_ro8, .xr_rd8, a:active .xr_ro8 {transform:scale3d(0.3,0.3,1);}
.xr_ro9, .xr_rd9, a:active .xr_ro9 {transform:skew(-30deg,0) translate3d(10%,0,0);}
.xr_ro10, .xr_rd10, a:active .xr_ro10 {transform-origin:50% 500%; transform:rotate3d(0,0,1,10deg);}
.xr_ro11, .xr_rd11, a:active .xr_ro11 {transform:translate3d(0,-50%,0) scale3d(0.3,0.3,1);}
.xr_ro12, .xr_rd12, a:active .xr_ro12 {transform:translate3d(0,20%,0);}
.xr_ro13, .xr_rd13, a:active .xr_ro13 {transform:translate3d(-20%,0,0);}
.xr_stickie {z-index: 90;}
.xr_nb0 {touch-action: none;}
.xr_nb0:hover > .xr_nb2, .xr_nb1:hover > .xr_nb2 {visibility: visible; opacity: 1 !important; transform: none !important;}
.xr_nb2 {white-space: nowrap; padding:0px; margin:0px; visibility: hidden; position: absolute; z-index:101;}
.xr_nb2 li {display:block;}
.xr_nb2 li a {display:block; text-decoration:none;}
.xr_nb4 {display:block; padding:0px; margin:0px;}
.xr_nb6 {width:100%; height:2px;}
.xr_nb1 {position: relative;}
.xr_nb1:after {content: ''; position: absolute; top: 50%; right: .5em; height: 0px; width: 0px; border: 5px solid transparent; margin-top: -5px; margin-right: -3px; border-color: transparent; border-left-color: inherit;}
body {text-align:center;}
@media screen, handheld {
.xr_app {position: absolute;}
.xr_apb {display:block; position:absolute;}
.xr_c_Link {color:#5BC8D3;}
.xr_c_Text {color:#343434;}
.xr_c_Background {color:#FFFFFF;}
.xr_c_Light_Text {color:#FFFFFF;}
.xr_c_Text_a {color:#000000;}
.xr_c_Panel_Background {color:#FFFFFF;}
.xr_c_Theme_Color_1 {color:#35231B;}
.xr_c_Theme_Color_2 {color:#8E2720;}
.xr_bgb0 {background:url('1333.png') -768px 2494px repeat;}
.xr_bgb1 {background:url('1333.png') -768px 3601px repeat;}
#xr_nb1 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb1 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb1 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb1 li > div {background-color:#000000; padding:18px;}
#xr_nb1 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb1 li {border-color:#FFFFFF;}
#xr_nb1 li:hover {border-color:#000000;}
#xr_nb1 ul {border: solid 0px #000000;}
#xr_nb1 .xr_nb4 {opacity: 0.50;}
#xr_nb1 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb1 .xr_nb2 {transition: visibility 300ms;}
#xr_nb5 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb5 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb5 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb5 li > div {background-color:#000000; padding:15px;}
#xr_nb5 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb5 li {border-color:#FFFFFF;}
#xr_nb5 li:hover {border-color:#FFFFFF;}
#xr_nb5 ul {border: solid 0px #8E2720;}
#xr_nb5 .xr_nb4 {opacity: 0.80;}
#xr_nb5 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb5 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb5 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb2 {background:url('1333.png') -768px 1846px repeat;}
.xr_bgb3 {background:url('1333.png') -768px 2276px repeat;}
#xr_nb7 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb7 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb7 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb7 li > div {background-color:#000000; padding:18px;}
#xr_nb7 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb7 li {border-color:#FFFFFF;}
#xr_nb7 li:hover {border-color:#000000;}
#xr_nb7 ul {border: solid 0px #000000;}
#xr_nb7 .xr_nb4 {opacity: 0.50;}
#xr_nb7 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb7 .xr_nb2 {transition: visibility 300ms;}
#xr_nb11 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb11 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb11 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb11 li > div {background-color:#000000; padding:15px;}
#xr_nb11 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb11 li {border-color:#FFFFFF;}
#xr_nb11 li:hover {border-color:#FFFFFF;}
#xr_nb11 ul {border: solid 0px #8E2720;}
#xr_nb11 .xr_nb4 {opacity: 0.80;}
#xr_nb11 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb11 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb11 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb4 {background:url('1333.png') -768px 2060px repeat;}
.xr_bgb5 {background:url('1333.png') -768px 1963px repeat;}
#xr_nb13 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb13 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb13 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb13 li > div {background-color:#000000; padding:18px;}
#xr_nb13 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb13 li {border-color:#FFFFFF;}
#xr_nb13 li:hover {border-color:#000000;}
#xr_nb13 ul {border: solid 0px #000000;}
#xr_nb13 .xr_nb4 {opacity: 0.50;}
#xr_nb13 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb13 .xr_nb2 {transition: visibility 300ms;}
#xr_nb17 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb17 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb17 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb17 li > div {background-color:#000000; padding:15px;}
#xr_nb17 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb17 li {border-color:#FFFFFF;}
#xr_nb17 li:hover {border-color:#FFFFFF;}
#xr_nb17 ul {border: solid 0px #8E2720;}
#xr_nb17 .xr_nb4 {opacity: 0.80;}
#xr_nb17 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb17 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb17 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb6 {background:url('1333.png') -768px 2089px repeat;}
.xr_bgb7 {background:url('1333.png') -768px 2059px repeat;}
#xr_nb19 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb19 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb19 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb19 li > div {background-color:#000000; padding:18px;}
#xr_nb19 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb19 li {border-color:#FFFFFF;}
#xr_nb19 li:hover {border-color:#000000;}
#xr_nb19 ul {border: solid 0px #000000;}
#xr_nb19 .xr_nb4 {opacity: 0.50;}
#xr_nb19 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb19 .xr_nb2 {transition: visibility 300ms;}
#xr_nb23 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb23 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb23 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb23 li > div {background-color:#000000; padding:15px;}
#xr_nb23 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb23 li {border-color:#FFFFFF;}
#xr_nb23 li:hover {border-color:#FFFFFF;}
#xr_nb23 ul {border: solid 0px #8E2720;}
#xr_nb23 .xr_nb4 {opacity: 0.80;}
#xr_nb23 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb23 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb23 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb8 {background:url('1333.png') -768px 2085px repeat;}
.xr_bgb9 {background:url('1333.png') -768px 2074px repeat;}
#xr_nb25 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb25 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb25 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb25 li > div {background-color:#000000; padding:18px;}
#xr_nb25 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb25 li {border-color:#FFFFFF;}
#xr_nb25 li:hover {border-color:#000000;}
#xr_nb25 ul {border: solid 0px #000000;}
#xr_nb25 .xr_nb4 {opacity: 0.50;}
#xr_nb25 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb25 .xr_nb2 {transition: visibility 300ms;}
#xr_nb29 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb29 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb29 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb29 li > div {background-color:#000000; padding:15px;}
#xr_nb29 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb29 li {border-color:#FFFFFF;}
#xr_nb29 li:hover {border-color:#FFFFFF;}
#xr_nb29 ul {border: solid 0px #8E2720;}
#xr_nb29 .xr_nb4 {opacity: 0.80;}
#xr_nb29 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb29 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb29 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb10 {background:url('1333.png') -768px 2103px repeat;}
.xr_bgb11 {background:url('1333.png') -768px 2059px repeat;}
#xr_nb31 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb31 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb31 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb31 li > div {background-color:#000000; padding:18px;}
#xr_nb31 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb31 li {border-color:#FFFFFF;}
#xr_nb31 li:hover {border-color:#000000;}
#xr_nb31 ul {border: solid 0px #000000;}
#xr_nb31 .xr_nb4 {opacity: 0.50;}
#xr_nb31 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb31 .xr_nb2 {transition: visibility 300ms;}
#xr_nb35 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb35 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb35 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb35 li > div {background-color:#000000; padding:15px;}
#xr_nb35 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb35 li {border-color:#FFFFFF;}
#xr_nb35 li:hover {border-color:#FFFFFF;}
#xr_nb35 ul {border: solid 0px #8E2720;}
#xr_nb35 .xr_nb4 {opacity: 0.80;}
#xr_nb35 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb35 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb35 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb12 {background:url('1333.png') -768px 2096px repeat;}
.xr_bgb13 {background:url('1333.png') -768px 2072px repeat;}
#xr_nb37 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb37 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb37 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb37 li > div {background-color:#000000; padding:18px;}
#xr_nb37 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb37 li {border-color:#FFFFFF;}
#xr_nb37 li:hover {border-color:#000000;}
#xr_nb37 ul {border: solid 0px #000000;}
#xr_nb37 .xr_nb4 {opacity: 0.50;}
#xr_nb37 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb37 .xr_nb2 {transition: visibility 300ms;}
#xr_nb41 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb41 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb41 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb41 li > div {background-color:#000000; padding:15px;}
#xr_nb41 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb41 li {border-color:#FFFFFF;}
#xr_nb41 li:hover {border-color:#FFFFFF;}
#xr_nb41 ul {border: solid 0px #8E2720;}
#xr_nb41 .xr_nb4 {opacity: 0.80;}
#xr_nb41 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb41 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb41 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb14 {background:url('1333.png') -768px 2101px repeat;}
.xr_bgb15 {background:url('1333.png') -768px 2104px repeat;}
#xr_nb43 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb43 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb43 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb43 li > div {background-color:#000000; padding:18px;}
#xr_nb43 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb43 li {border-color:#FFFFFF;}
#xr_nb43 li:hover {border-color:#000000;}
#xr_nb43 ul {border: solid 0px #000000;}
#xr_nb43 .xr_nb4 {opacity: 0.50;}
#xr_nb43 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb43 .xr_nb2 {transition: visibility 300ms;}
#xr_nb47 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb47 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb47 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb47 li > div {background-color:#000000; padding:15px;}
#xr_nb47 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb47 li {border-color:#FFFFFF;}
#xr_nb47 li:hover {border-color:#FFFFFF;}
#xr_nb47 ul {border: solid 0px #8E2720;}
#xr_nb47 .xr_nb4 {opacity: 0.80;}
#xr_nb47 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb47 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb47 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb16 {background:url('1333.png') -768px 2099px repeat;}
.xr_bgb17 {background:url('1333.png') -768px 2136px repeat;}
#xr_nb49 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb49 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb49 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb49 li > div {background-color:#000000; padding:18px;}
#xr_nb49 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb49 li {border-color:#FFFFFF;}
#xr_nb49 li:hover {border-color:#000000;}
#xr_nb49 ul {border: solid 0px #000000;}
#xr_nb49 .xr_nb4 {opacity: 0.50;}
#xr_nb49 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb49 .xr_nb2 {transition: visibility 300ms;}
#xr_nb53 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb53 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb53 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb53 li > div {background-color:#000000; padding:15px;}
#xr_nb53 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb53 li {border-color:#FFFFFF;}
#xr_nb53 li:hover {border-color:#FFFFFF;}
#xr_nb53 ul {border: solid 0px #8E2720;}
#xr_nb53 .xr_nb4 {opacity: 0.80;}
#xr_nb53 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb53 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb53 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb18 {background:url('1333.png') -768px 2099px repeat;}
.xr_bgb19 {background:url('1333.png') -768px 2130px repeat;}
#xr_nb55 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb55 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb55 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb55 li > div {background-color:#000000; padding:18px;}
#xr_nb55 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb55 li {border-color:#FFFFFF;}
#xr_nb55 li:hover {border-color:#000000;}
#xr_nb55 ul {border: solid 0px #000000;}
#xr_nb55 .xr_nb4 {opacity: 0.50;}
#xr_nb55 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb55 .xr_nb2 {transition: visibility 300ms;}
#xr_nb59 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb59 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb59 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb59 li > div {background-color:#000000; padding:15px;}
#xr_nb59 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb59 li {border-color:#FFFFFF;}
#xr_nb59 li:hover {border-color:#FFFFFF;}
#xr_nb59 ul {border: solid 0px #8E2720;}
#xr_nb59 .xr_nb4 {opacity: 0.80;}
#xr_nb59 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb59 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb59 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb20 {background:url('1333.png') -768px 2099px repeat;}
.xr_bgb21 {background:url('1333.png') -768px 2134px repeat;}
#xr_nb61 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb61 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb61 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb61 li > div {background-color:#000000; padding:18px;}
#xr_nb61 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb61 li {border-color:#FFFFFF;}
#xr_nb61 li:hover {border-color:#000000;}
#xr_nb61 ul {border: solid 0px #000000;}
#xr_nb61 .xr_nb4 {opacity: 0.50;}
#xr_nb61 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb61 .xr_nb2 {transition: visibility 300ms;}
#xr_nb65 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb65 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb65 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb65 li > div {background-color:#000000; padding:15px;}
#xr_nb65 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb65 li {border-color:#FFFFFF;}
#xr_nb65 li:hover {border-color:#FFFFFF;}
#xr_nb65 ul {border: solid 0px #8E2720;}
#xr_nb65 .xr_nb4 {opacity: 0.80;}
#xr_nb65 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb65 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb65 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb22 {background:url('1333.png') -768px 2099px repeat;}
.xr_bgb23 {background:url('1333.png') -768px 2159px repeat;}
#xr_nb67 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb67 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb67 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb67 li > div {background-color:#000000; padding:18px;}
#xr_nb67 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb67 li {border-color:#FFFFFF;}
#xr_nb67 li:hover {border-color:#000000;}
#xr_nb67 ul {border: solid 0px #000000;}
#xr_nb67 .xr_nb4 {opacity: 0.50;}
#xr_nb67 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb67 .xr_nb2 {transition: visibility 300ms;}
#xr_nb71 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb71 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb71 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb71 li > div {background-color:#000000; padding:15px;}
#xr_nb71 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb71 li {border-color:#FFFFFF;}
#xr_nb71 li:hover {border-color:#FFFFFF;}
#xr_nb71 ul {border: solid 0px #8E2720;}
#xr_nb71 .xr_nb4 {opacity: 0.80;}
#xr_nb71 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb71 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb71 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb24 {background:url('1333.png') -768px 2099px repeat;}
.xr_bgb25 {background:url('1333.png') -768px 2111px repeat;}
#xr_nb73 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb73 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb73 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb73 li > div {background-color:#000000; padding:18px;}
#xr_nb73 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb73 li {border-color:#FFFFFF;}
#xr_nb73 li:hover {border-color:#000000;}
#xr_nb73 ul {border: solid 0px #000000;}
#xr_nb73 .xr_nb4 {opacity: 0.50;}
#xr_nb73 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb73 .xr_nb2 {transition: visibility 300ms;}
#xr_nb77 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb77 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb77 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb77 li > div {background-color:#000000; padding:15px;}
#xr_nb77 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb77 li {border-color:#FFFFFF;}
#xr_nb77 li:hover {border-color:#FFFFFF;}
#xr_nb77 ul {border: solid 0px #8E2720;}
#xr_nb77 .xr_nb4 {opacity: 0.80;}
#xr_nb77 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb77 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb77 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb26 {background:url('1333.png') -768px 2099px repeat;}
.xr_bgb27 {background:url('1333.png') -768px 2080px repeat;}
#xr_nb79 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb79 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb79 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb79 li > div {background-color:#000000; padding:18px;}
#xr_nb79 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb79 li {border-color:#FFFFFF;}
#xr_nb79 li:hover {border-color:#000000;}
#xr_nb79 ul {border: solid 0px #000000;}
#xr_nb79 .xr_nb4 {opacity: 0.50;}
#xr_nb79 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb79 .xr_nb2 {transition: visibility 300ms;}
#xr_nb83 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb83 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb83 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb83 li > div {background-color:#000000; padding:15px;}
#xr_nb83 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb83 li {border-color:#FFFFFF;}
#xr_nb83 li:hover {border-color:#FFFFFF;}
#xr_nb83 ul {border: solid 0px #8E2720;}
#xr_nb83 .xr_nb4 {opacity: 0.80;}
#xr_nb83 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb83 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb83 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb28 {background:url('1333.png') -768px 2101px repeat;}
.xr_bgb29 {background:url('1333.png') -768px 2096px repeat;}
#xr_nb85 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb85 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb85 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb85 li > div {background-color:#000000; padding:18px;}
#xr_nb85 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb85 li {border-color:#FFFFFF;}
#xr_nb85 li:hover {border-color:#000000;}
#xr_nb85 ul {border: solid 0px #000000;}
#xr_nb85 .xr_nb4 {opacity: 0.50;}
#xr_nb85 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb85 .xr_nb2 {transition: visibility 300ms;}
#xr_nb89 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb89 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb89 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb89 li > div {background-color:#000000; padding:15px;}
#xr_nb89 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb89 li {border-color:#FFFFFF;}
#xr_nb89 li:hover {border-color:#FFFFFF;}
#xr_nb89 ul {border: solid 0px #8E2720;}
#xr_nb89 .xr_nb4 {opacity: 0.80;}
#xr_nb89 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb89 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb89 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb30 {background:url('1333.png') -768px 2101px repeat;}
.xr_bgb31 {background:url('1333.png') -768px 2070px repeat;}
#xr_nb91 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb91 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb91 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb91 li > div {background-color:#000000; padding:18px;}
#xr_nb91 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb91 li {border-color:#FFFFFF;}
#xr_nb91 li:hover {border-color:#000000;}
#xr_nb91 ul {border: solid 0px #000000;}
#xr_nb91 .xr_nb4 {opacity: 0.50;}
#xr_nb91 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb91 .xr_nb2 {transition: visibility 300ms;}
#xr_nb95 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb95 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb95 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb95 li > div {background-color:#000000; padding:15px;}
#xr_nb95 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb95 li {border-color:#FFFFFF;}
#xr_nb95 li:hover {border-color:#FFFFFF;}
#xr_nb95 ul {border: solid 0px #8E2720;}
#xr_nb95 .xr_nb4 {opacity: 0.80;}
#xr_nb95 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb95 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb95 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb32 {background:url('1333.png') -768px 2038px repeat;}
.xr_bgb33 {background:url('1333.png') -768px 2095px repeat;}
#xr_nb97 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb97 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb97 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb97 li > div {background-color:#000000; padding:18px;}
#xr_nb97 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb97 li {border-color:#FFFFFF;}
#xr_nb97 li:hover {border-color:#000000;}
#xr_nb97 ul {border: solid 0px #000000;}
#xr_nb97 .xr_nb4 {opacity: 0.50;}
#xr_nb97 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb97 .xr_nb2 {transition: visibility 300ms;}
#xr_nb101 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb101 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb101 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb101 li > div {background-color:#000000; padding:15px;}
#xr_nb101 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb101 li {border-color:#FFFFFF;}
#xr_nb101 li:hover {border-color:#FFFFFF;}
#xr_nb101 ul {border: solid 0px #8E2720;}
#xr_nb101 .xr_nb4 {opacity: 0.80;}
#xr_nb101 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb101 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb101 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb34 {background:url('1333.png') -768px 2044px repeat;}
.xr_bgb35 {background:url('1333.png') -768px 2115px repeat;}
#xr_nb103 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb103 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb103 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb103 li > div {background-color:#000000; padding:18px;}
#xr_nb103 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb103 li {border-color:#FFFFFF;}
#xr_nb103 li:hover {border-color:#000000;}
#xr_nb103 ul {border: solid 0px #000000;}
#xr_nb103 .xr_nb4 {opacity: 0.50;}
#xr_nb103 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb103 .xr_nb2 {transition: visibility 300ms;}
#xr_nb107 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb107 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb107 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb107 li > div {background-color:#000000; padding:15px;}
#xr_nb107 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb107 li {border-color:#FFFFFF;}
#xr_nb107 li:hover {border-color:#FFFFFF;}
#xr_nb107 ul {border: solid 0px #8E2720;}
#xr_nb107 .xr_nb4 {opacity: 0.80;}
#xr_nb107 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb107 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb107 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb36 {background:url('1333.png') -768px 2060px repeat;}
.xr_bgb37 {background:url('1333.png') -768px 2713px repeat;}
#xr_nb109 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb109 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb109 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb109 li > div {background-color:#000000; padding:18px;}
#xr_nb109 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb109 li {border-color:#FFFFFF;}
#xr_nb109 li:hover {border-color:#000000;}
#xr_nb109 ul {border: solid 0px #000000;}
#xr_nb109 .xr_nb4 {opacity: 0.50;}
#xr_nb109 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb109 .xr_nb2 {transition: visibility 300ms;}
#xr_nb113 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb113 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb113 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb113 li > div {background-color:#000000; padding:15px;}
#xr_nb113 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb113 li {border-color:#FFFFFF;}
#xr_nb113 li:hover {border-color:#FFFFFF;}
#xr_nb113 ul {border: solid 0px #8E2720;}
#xr_nb113 .xr_nb4 {opacity: 0.80;}
#xr_nb113 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb113 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb113 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb38 {background:url('1333.png') -768px 1921px repeat;}
.xr_bgb39 {background:url('1333.png') -768px 2577px repeat;}
#xr_nb115 {font-family:Verdana, Geneva, sans-serif; font-size:16px;}
#xr_nb115 li:hover > a {background-color:#FFFFFF; color:#000000;}
#xr_nb115 li a {color:#FFFFFF; background-color:#000000; padding:18px; padding-right:36px;}
#xr_nb115 li > div {background-color:#000000; padding:18px;}
#xr_nb115 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb115 li {border-color:#FFFFFF;}
#xr_nb115 li:hover {border-color:#000000;}
#xr_nb115 ul {border: solid 0px #000000;}
#xr_nb115 .xr_nb4 {opacity: 0.50;}
#xr_nb115 .xr_nb5 {border-color: rgba(0,0,0,0.50);}
#xr_nb115 .xr_nb2 {transition: visibility 300ms;}
#xr_nb119 {font-family:Lucida Sans Unicode, Lucida Sans, Lucida Grande, Tahoma, Arial; font-size:14px;}
#xr_nb119 li:hover > a {background-color:#35231B; color:#FFFFFF;}
#xr_nb119 li a {color:#FFFFFF; background-color:#000000; padding:15px; padding-right:33px;}
#xr_nb119 li > div {background-color:#000000; padding:15px;}
#xr_nb119 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb119 li {border-color:#FFFFFF;}
#xr_nb119 li:hover {border-color:#FFFFFF;}
#xr_nb119 ul {border: solid 0px #8E2720;}
#xr_nb119 .xr_nb4 {opacity: 0.80;}
#xr_nb119 .xr_nb5 {border-color: rgba(142,39,32,0.80);}
#xr_nb119 .xr_nb5 {margin: 5px 0px 5px 0px;}
#xr_nb119 .xr_nb2 {transition: visibility 300ms;}
}
@media print {
 .xr_mvpo {display:none;}
 #xr_xrii{overflow:visible !important; position: relative !important;}
}
