/* Text styles */
.xr_s0 {font-family:Arial;font-weight:normal;font-style:normal;font-size:14px;text-decoration:none;color:#FFFFFF;letter-spacing:0em;}
.xr_s1 {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;color:#000000;letter-spacing:0em;}
.xr_s2 {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:20px;text-decoration:none;color:#FFFFFF;letter-spacing:0em;}
.xr_s3 {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:48px;text-decoration:none;color:#FFFFFF;letter-spacing:0em;}
.xr_s4 {font-family:Arial;font-weight:normal;font-style:normal;font-size:13.99px;text-decoration:none;color:#FFFFFF;letter-spacing:0em;}
.xr_s5 {font-family:'Roboto';font-weight:900;font-style:normal;font-size:54.8px;text-decoration:none;color:#FFFFFF;letter-spacing:0em;}
.xr_s6 {font-family:Times New Roman;font-weight:bold;font-style:normal;font-size:16px;text-decoration:none;color:#000000;letter-spacing:0em;}
.xr_s7 {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:18px;text-decoration:none;color:#000000;letter-spacing:0em;}
.xr_s8 {font-family:'Roboto';font-weight:900;font-style:normal;font-size:40.31px;text-decoration:none;color:#FFFFFF;letter-spacing:0em;}
.xr_s9 {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:11.38px;text-decoration:none;color:#000000;letter-spacing:0em;}
.xr_s10 {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:12.8px;text-decoration:none;color:#000000;letter-spacing:0em;}
.xr_s11 {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;color:#0B7FA6;letter-spacing:0em;}
.xr_s12 {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;letter-spacing:0em;}
.xr_s13 {font-family:'Baskerville Old Face Regular';font-weight:normal;font-style:normal;font-size:20.7px;text-decoration:none;color:#5BC8D3;letter-spacing:0em;}
